-r requirements.txt
black
flake8
pytest
pytest-cov
pytest-django
mixer
tox
freezegun
# Install python-fedora that support fpdc-client
-e git://github.com/fedora-infra/python-fedora.git@9bfb521069550e4502951f58d599a6852b12c0e1#egg=python-fedora
# Install oidc-register v0.2
-e git://github.com/puiterwijk/oidc-register.git@170278046cea33fac81dfd4a34d9829827eb8973#egg=oidc-register
fpdc-client
